<!DOCTYPE html>
<!--[if lt IE 9 ]><html class="no-js oldie" lang="en"> <![endif]-->
<!--[if IE 9 ]><html class="no-js oldie ie9" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!-->
<html class="no-js" lang="en">
<!--<![endif]-->

<head>
  <meta name='viewport' content='width=device-width, initial-scale=1'>
    <!-- <link rel="stylesheet" href="/style.css"/> -->
  <script src='https://kit.fontawesome.com/a076d05399.js'></script>
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"> -->
    <!--- basic page needs
    ================================================== -->
    <meta charset="utf-8">
    <title>SPDM</title>
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- mobile specific metas
    ================================================== -->
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- CSS
    ================================================== -->
    <!-- <link rel="stylesheet" type="text/html" href="/base.css"/> -->
    <!-- <link rel="stylesheet" type="text/html" href="/vendor.css"/> -->
    <!-- <link rel="stylesheet" type="text/html" href="/main.css"/> -->

    <!-- script
    ================================================== -->
    <script src="/js/modernizr.js"></script>
    <script src="/js/pace.min.js"></script>

    <!-- favicons
    ================================================== -->
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
    <link rel="icon" href="/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="/style.css" />
</head>

<body id="top">

    <!-- header
    ================================================== -->
    <header class="s-header">

        <div class="header-logo">
            <a class="site-logo" href="">
                <img class="lg" src="/images/logo2.png" alt="Homepage">
            </a>
        </div>

        <nav class="header-nav">

            <a href="#0" class="header-nav__close" title="close"><span>Close</span></a>

            <div class="header-nav__content">
                <h3>Navigation</h3>

                <ul class="header-nav__list">
                    <li class="current"><a class="smoothscroll"  href="#home" title="home">Home</a></li>
                    <li><a class="smoothscroll"  href="#about" title="about">Mission</a></li>
                    <li><a class="smoothscroll"  href="#clients" title="clients">Working</a></li>
                    <li><a class="smoothscroll"  href="#services" title="services">Standouts</a></li>
                    <li><a class="smoothscroll"  href="#works" title="works">Gallery</a></li>
                    <li><a class="smoothscroll"  href="#contact" title="contact">Advertising</a></li>
                </ul>


<!--
                <ul class="header-nav__social">
                    <li>
                        <a href="#"><i class="fa fa-facebook"></i></a>
                    </li>
                    <li>
                        <a href="#"><i class="fa fa-twitter"></i></a>
                    </li>
                    <li>
                        <a href="#"><i class="fa fa-instagram"></i></a>
                    </li>
                    <li>
                        <a href="#"><i class="fa fa-behance"></i></a>
                    </li>
                    <li>
                        <a href="#"><i class="fa fa-dribbble"></i></a>
                    </li>
                </ul>
-->
            </div> <!-- end header-nav__content -->

        </nav>  <!-- end header-nav -->

        <a class="header-menu-toggle" href="#0">
            <span class="header-menu-text">Menu</span>
            <span class="header-menu-icon"></span>
        </a>

    </header> <!-- end s-header -->


    <!-- home
    ================================================== -->
    <section id="home" class="s-home target-section" data-parallax="scroll" data-image-src="images/bg.png" data-natural-width=3000 data-natural-height=2000 data-position-y=center>

        <div class="overlay"></div>
        <div class="shadow-overlay"></div>

        <div class="home-content">

            <div class="row home-content__main">

                <h3></h3>

                <h1>
                    Sanitary
                    Pad <br>
                    Dispensing
                  Machine
                </h1>

                <div class="home-content__buttons">
                    <form action='/buy' method="get">
                    <button  class=" btn btn--stroke blink_me">
                       Buy Pads
                    </button>
                    </form>
                </div>

            </div>

            <div class="home-content__scroll">
                <a href="#about" class="scroll-link smoothscroll">
                    <span>Scroll Down</span>
                </a>
            </div>

            <div class="home-content__line"></div>

        </div> <!-- end home-content -->

<!--
        <ul class="home-social">
            <li>
                <a href="#0"><i class="fa fa-facebook" aria-hidden="true"></i><span>Facebook</span></a>
            </li>
            <li>
                <a href="#0"><i class="fa fa-twitter" aria-hidden="true"></i><span>Twiiter</span></a>
            </li>
            <li>
                <a href="#0"><i class="fa fa-instagram" aria-hidden="true"></i><span>Instagram</span></a>
            </li>
            <li>
                <a href="#0"><i class="fa fa-behance" aria-hidden="true"></i><span>Behance</span></a>
            </li>
            <li>
                <a href="#0"><i class="fa fa-dribbble" aria-hidden="true"></i><span>Dribbble</span></a>
            </li>
        </ul>
        <!-- end home-social -->
-->
    </section> <!-- end s-home -->


    <!-- about
    ================================================== -->
    <section id='about' class="s-about">

        <div class="row section-header has-bottom-sep" data-aos="fade-up">
            <div class="col-full">
                <h3 class="subhead subhead--dark">Our Project's</h3>
                <h1 class="display-1 display-1--light">Mission</h1>
            </div>
        </div> <!-- end section-header -->

        <div class="row about-desc" data-aos="fade-up">
            <div class="col-full">
                <h3 class="moq">
                  Empowering women by making sanitary products easily accessible in their time of need with a user-friendly and cost-effective dispensing machine.
Breaking the stigma surrounding menstruation and making this topic more mainstream so that women feel more comfortable and self-reliant. </h3>
<h2 class="abcd" >#WeForSHE
</h2>
                <br>
              <!--  <h3 class="moq">The society has shrouded this topic with so much stigma
and taboos that women find it difficult to speak out
publicly in this matter. One of the main objectives of the
SPDM is to break this system and to make this topic of
menstruation more mainstream so that parents could
talk to their daughters more freely, friends could support
each other and women would not feel ashamed of
something that is natural to them and parts of their life</h3>
<br>
<h3 class="moq">In urban areas, over the years this issue has been raised
and talked about more in conversations and we feel that
this the right time to introduce the SPDM so that the
awareness that is being created can be capitalised on
and women and girls all over the country could break
this cloud of stigma.
In educational institutions especially in rural areas,
women over a long period of time have complained
about the lack of infrastructure ranging from unhealthy
toilets (or even no washrooms in some cases!) to
unavailability of sanitary products.
With the SPDM we wish to eliminate this issue starting
from our own campus where the sanitary pads will be
made available to the students easily and in convenient
places so as to reduce any discomfort to the user.</h3>-->
            </div>
        </div> <!-- end about-desc -->

        <div class="row about-stats stats block-1-4 block-m-1-2 block-mob-full" data-aos="fade-up">

            <div class="col-block stats__col ">
                <div class="stats__count">512</div>
                <h5>Thousand adolescent girl </h5>

                <h5>drop out due to poor</h5>

                <h5>Menstural hygine in India</h5>
            </div>
            <div class="col-block stats__col">
                <div class="stats__count">82</div>
                <h5>Percent women do not have</h5>
                <h5>access to sanitary hygine </h5>
                <h5>in India</h5>
            </div>
            <div class="col-block stats__col">
                <div class="stats__count">71</div>
                <h5>Percent adolescent girls are </h5>
                <h5>unaware of mensturation</h5>
                <h5>until their first period</h5>
            </div>
            <div class="col-block stats__col">
                <div class="stats__count">120</div>
                <h5>Million mensturating </h5>
                <h5>Indian adolecents experience</h5>
                <h5>menstural dysfunctions</h5>
            </div>

        </div> <!-- end about-stats -->

        <div class="about__line"></div>

    </section> <!-- end s-about -->

    <section id="clients" class="s-clients">
      <div class="intro-wrap">

          <div class="row section-header has-bottom-sep light-sep" data-aos="fade-up">
              <div class="col-full">
                  <h3 class="subhead">Machine's</h3>
                  <h1 class="display-2 display-2--light">Working</h1>
              </div>
          </div> <!-- end section-header -->
        <div class="row section-header" data-aos="fade-up">

          <h2 class="abcd">Digital Payment Method</h2>
          <br>
          <p class="nm"><i class="fa fa-qrcode"></i>	Scan QR code and pay </p>
          <p class="nm"><i class="material-icons">message</i>	You will receive a unique one-time-use 5-digit code </p>
          <p class="nm"><i class='fas fa-keyboard'></i>	Enter the code in the machine using the keypad</p>
          <p class="nm"><i class='fas fa-box'></i>	If the code is correct, a pad will be dispensed</p>
          <br><br>
          <h2 class="abcd">Coin Mechanism</h2><br>
          <p class="nm"><i class='fas fa-coins'></i></i>	Insert 1,2- or 5-rupee coin to pay</p>
          <p class="nm"><i class='fas fa-box'></i>	A pad will be dispensed as soon as the payment is done</p>

        </div> <!-- end section-header -->

        <div class="row clients-outer" data-aos="fade-up">

        </div> <!-- end clients-outer -->



    </section> <!-- end s-clients -->


    <!-- services
    ================================================== -->
    <section id='services' class="s-services">

        <div class="row section-header has-bottom-sep" data-aos="fade-up">
            <div class="col-full">
                <h3 class="subhead"></h3>
                <h1 class="display-2">Our Standouts</h1>
                <br>
            <!--    <h3>Each customer will be provided with a 5 digit
random code. The code in the initial stages will
be generated randomly by the system and a
customer will receive a code in return of a
payment.There are a total 3125 combinations
possible with the current arrangement and we
may be able to expand upon that through a
collaboration with PayTM which is detailed
later in this proposal.</h3>-->

<br>
<!--<h3>There are three types of memory available in Arduino :-</h3>-->
            </div>
        </div> <!-- end section-header -->

        <div class="row services-list block-1-2 block-tab-full">

            <div class="col-block service-item" data-aos="fade-up">
                <div class="service-icon">
                    <i class="fa fa-flash"></i>
                </div>
                <div class="service-text">
                    <h3 class="h2">Power Consumption</h3>
                    <p class="hi">Our machine is based on the Microcontroller ATmega328P which consumes minimal power that can be provided by a battery. This is an advantage in rural areas where long power cuts are an obstruction.

                    </p>
                </div>
            </div>
            <div class="col-block service-item" data-aos="fade-up">
                <div class="service-icon">
                      <i class='fas fa-microchip'></i>
                </div>
                <div class="service-text">
                    <h3 class="h2">Memory</h3>
                    <p class="hi">Codes provided upon digital payment are saved in EEPROM of the microcontroller. Hence, there is no need for an internet connection to fetch these codes for checking and dispensing.
                    </p>
                </div>
            </div>

            <div class="col-block service-item" data-aos="fade-up">
                <div class="service-icon">
                    <i class='fas fa-wallet'></i>
                </div>
                <div class="service-text">
                    <h3 class="h2">Cost Effectiveness</h3>
                    <p class="hi">The SPDM can be made under only 6k rupees due to its low operation cost and simple architecture. Thus, it is a notch above other expensive dispensing machines present in the market. .
                    </p>
                </div>
            </div>

            <div class="col-block service-item" data-aos="fade-up">
                <div class="service-icon">
                  <i class='far fa-money-bill-alt'></i>
                </div>
                <div class="service-text">
                    <h3 class="h2">Dual Payment Method</h3>
                    <p class="hi">Two methods of payment greatly widens our scope of users in both rural and urban areas. It is accessible to anyone and everyone in need.

                    </p>
                </div>
            </div>


        </div> <!-- end services-list -->

        <div class="about__line"></div>
        <div class="row section-header has-bottom-sep" data-aos="fade-up">
            <div class="col-full">
                <h3 class="subhead"></h3>
                <br>
              <!--  <h3>These codes will be stored in the Arduino using
                EEPROM. This is because in EEPROM as it is non-volatile
                data will remain stored even without a power supply. As
                data can’t be modified in flash memory directly and in
                SRAM there is a need for a continuous power supply or
                else the data will be lost. Hence EEPROM provides the
                most suitable means of storing the data to meet our
                needs.</h3>
-->
            </div>
        </div> <!-- end section-header -->



    </section> <!-- end s-services -->

    <!-- works
    ================================================== -->
    <section id='works' class="s-works">

        <div class="intro-wrap">

            <div class="row section-header has-bottom-sep light-sep" data-aos="fade-up">
                <div class="col-full">
                    <h3 class="subhead">PROJECT</h3>
                    <h1 class="display-2 display-2--light">GALLERY</h1>
                </div>
            </div> <!-- end section-header -->

        </div> <!-- end intro-wrap -->

        <div class="row works-content">
            <div class="col-full masonry-wrap">
                <div class="masonry">

                    <div class="masonry__brick" data-aos="fade-up">
                        <div class="item-folio">

                            <div class="item-folio__thumb">
                                <a href="images/p1.png" class="thumb-link" title="SPDM Machine" data-size="1050x700">
                                    <img src="images/p1.png"
                                         srcset="images/p1.png 1x, images/p1.png" alt="">
                                </a>
                            </div>

                            <div class="item-folio__text">
                                <h3 class="item-folio__title">
                                    SPDM
                                </h3>
                                <p class="item-folio__cat">
                                    Machine
                                </p>
                            </div>

                            <a href="https://www.behance.net/" class="item-folio__project-link" title="Project link">
                                <i class="icon-link"></i>
                            </a>

                            <div class="item-folio__caption">

                            </div>

                        </div>
                    </div> <!-- end masonry__brick -->

                    <div class="masonry__brick" data-aos="fade-up">
                        <div class="item-folio">

                            <div class="item-folio__thumb">
                                <a href="images/2.png" class="thumb-link" title="Woodcraft" data-size="1050x700">
                                    <img src="images/2.png"
                                         srcset="images/2.png 1x, images/2.png" alt="">
                                </a>
                            </div>

                            <div class="item-folio__text">
                                <h3 class="item-folio__title">
                                    Machine
                                </h3>
                                <p class="item-folio__cat">
                                    At Railway Station
                                </p>
                            </div>

                            <a href="https://www.behance.net/" class="item-folio__project-link" title="Project link">
                                <i class="icon-link"></i>
                            </a>

                            <div class="item-folio__caption">

                            </div>

                        </div>
                    </div> <!-- end masonry__brick -->

                    <div class="masonry__brick" data-aos="fade-up">
                        <div class="item-folio">

                            <div class="item-folio__thumb">
                                <a href="images/6.png" class="thumb-link" title="The Beetle Car" data-size="1050x700">
                                    <img src="images/6.png"
                                         srcset="images/6.png 1x, images/6.png" alt="">
                                </a>
                            </div>

                            <div class="item-folio__text">
                                <h3 class="item-folio__title">
                                    Top
                                </h3>
                                <p class="item-folio__cat">
                                    View
                                </p>
                            </div>

                            <a href="https://www.behance.net/" class="item-folio__project-link" title="Project link">
                                <i class="icon-link"></i>
                            </a>

                            <div class="item-folio__caption">

                            </div>

                        </div>
                    </div> <!-- end masonry__brick -->

                    <div class="masonry__brick" data-aos="fade-up">
                        <div class="item-folio">

                            <div class="item-folio__thumb">
                                <a href="images/4.png" class="thumb-link" title="Grow Green" data-size="1050x700">
                                    <img src="images/4.png"
                                         srcset="images/4.png 1x, images/4.png" alt="">
                                </a>
                            </div>

                            <div class="item-folio__text">
                                <h3 class="item-folio__title">
                                    Machine
                                </h3>
                                <p class="item-folio__cat">
                                    At Office
                                </p>
                            </div>

                            <a href="https://www.behance.net/" class="item-folio__project-link" title="Project link">
                                <i class="icon-link"></i>
                            </a>

                            <div class="item-folio__caption">

                            </div>

                        </div>
                    </div> <!-- end masonry__brick -->

                    <div class="masonry__brick" data-aos="fade-up">
                        <div class="item-folio">

                            <div class="item-folio__thumb">
                                <a href="images/gallery/5.png" class="thumb-link" title="Guitarist" data-size="1050x700">
                                    <img src="images/5.png"
                                         srcset="images/5.png 1x, images/5.png" alt="">
                                </a>
                            </div>

                            <div class="item-folio__text">
                                <h3 class="item-folio__title">
                                    Front
                                </h3>
                                <p class="item-folio__cat">
                                    View
                                </p>
                            </div>

                            <a href="https://www.behance.net/" class="item-folio__project-link" title="Project link">
                                <i class="icon-link"></i>
                            </a>

                            <div class="item-folio__caption">

                            </div>

                        </div>
                    </div> <!-- end masonry__brick -->

                    <div class="masonry__brick" data-aos="fade-up">
                        <div class="item-folio">

                            <div class="item-folio__thumb">
                                <a href="images/3.png" class="thumb-link" title="Palmeira" data-size="1050x700">
                                    <img src="images/3.png"
                                         srcset="images/3.png 1x, images/3.png" alt="">
                                </a>
                            </div>

                            <div class="item-folio__text">
                                <h3 class="item-folio__title">
                                    Machine's
                                </h3>
                                <p class="item-folio__cat">
                                    Inside
                                </p>
                            </div>

                            <a href="https://www.behance.net/" class="item-folio__project-link" title="Project link">
                                <i class="icon-link"></i>
                            </a>

                            <div class="item-folio__caption">

                            </div>

                        </div>

                    </div> <!-- end masonry__brick -->

                </div> <!-- end masonry -->
            </div> <!-- end col-full -->
        </div> <!-- end works-content -->


    </section> <!-- end s-works -->
  <br><br>
<h1 class="mno">Videos</h1>
<br>
<br>
 

      <iframe
src="https://www.youtube.com/embed/ooK4D-_mJso?controls=0" style="height:500px;width:600px; margin: 0 auto ;display:block">
</iframe>
<!--
      <br>
<br>
      <iframe width="420" height="315"
src="https://www.youtube.com/embed/tgbNymZ7vqY?controls=0" style="height:200px;width:300px;">
</iframe>
<br>
<br>
      <iframe width="420" height="315"
src="https://www.youtube.com/embed/tgbNymZ7vqY?controls=0" style="height:200px;width:300px;">
</iframe>
<br>
<br>
      <iframe width="420" height="315"
src="https://www.youtube.com/embed/LVl9GNNXVc8?controls=0" style="height:200px;width:300px;">
</iframe>-->
    <!-- clients
    ================================================== -->

    <!-- contact
    ================================================== -->
    

    <section id="contact" class="s-contact">

        <div class="overlay"></div>
        <div class="contact__line"></div>

        <div class="row section-header" data-aos="fade-up">
            <div class="col-full">
                <h3 class="subhead"></h3>
                <h1 class="display-2 display-2--light">Advertising</h1>
                  <br>
                  <!--  <p>Once introduced our vending machine will be
one of the cheapest in the market as we will be
providing a digital machine in the price of a mechanical
one i.e. around Rs.3000 .
Mechanical machines though cheap, are less accurate
and have a much smaller capacity and
have faults and issues arising which are a little
complicated to fix.
Our machine provides a simple mechanism which is
easy for maintenance and operation.
Our operating and other variable costs can be met by
sponsorship and advertising revenue.<br>

</p>
<h3 class="abcd">There are two major areas for that:-</h3>-->
<div class="row services-list block-1-2 block-tab-full">

    <div class="col-block service-item" data-aos="fade-up">
        <div class="service-icon">
            <i class="icon-megaphone"></i>
        </div>
        <div class="service-text">
            <h3 class="acp">Sticker Marketing</h3>
            <p>Companies and local vendors can be approached to display their stickers and advertisements on the body of our machine.
            </p>
        </div>
    </div>

    <div class="col-block service-item" data-aos="fade-up">
        <div class="service-icon">
            <i class="far fa-handshake"></i>
        </div>
        <div class="service-text">
            <h3 class="acp">Sanitary Pad</h3>
            <p>Companies specializing in production and distribution of sanitary pads can be approached with the offer that only their branded pads will be put in our machine and in return they provide us the pads at the production cost.
            </p>
        </div>
    </div>
</div>


                            <!--  <br>  <h2 class="abcd">OVERALL Rs 3000</h2>

                                <ul class="skill-bars">
                                    <li>
                                    <div class="progress percent90"><span>Rs.1500</span></div>
                                    <strong>Electronics</strong>
                                    </li>
                                    <li>
                                    <div class="progress percent85"><span>Rs.250</span></div>
                                    <strong>Framework</strong>
                                    </li>
                                    <li>
                                    <div class="progress percent70"><span>Rs.500</span></div>
                                    <strong>Pads</strong>
                                    </li>
                                    <li>
                                    <div class="progress percent95"><span>Rs.700</span></div>
                                    <strong>Connectivity</strong>
                                    </li>
                                    <li>
                                    <div class="progress percent75"><span>Rs.25</span></div>
                                    <strong>hulalal</strong>
                                    </li>
                                    <li>
                                    <div class="progress percent90"><span>Rs.25</span></div>
                                    <strong>hilalula</strong>
                                    </li>
                                </ul>
-->
            </div>
        </div>


        </div> <!-- end contact-content -->

    </section> <!-- end s-contact -->


    <!-- footer
    ================================================== -->
    <footer>

        <div >

            <div>

              <h1 class="display-2 display-2--light">Future Scope</h1>

            </div>


        </div> <!-- end footer-main -->

        <div class="row footer-bottom">

            <div class="col-twelve">

                <div class="go-top">
                    <a class="smoothscroll" title="Back to Top" href="#top"><i class="icon-arrow-up" aria-hidden="true"></i></a>
                </div>
            </div>
            <h3 class="moq">In Urban areas, this issue is being raised and talked about more than ever before, and we feel it is the right time to introduce the SPDM as a tangible change to break this cloud of stigma.</h3>

  <h3 class="moq">Targets areas of implementation include- schools, colleges, workplaces, shopping malls, bus/railway/metro stations and other public places.</h3>

  <h3 class="moq">In Rural areas, especially in educational institutions, there is a dire need of proper sanitation facilities like clean toilets and sanitary products.
</h3>


    <!-- photoswipe background
    ================================================== -->
    <div aria-hidden="true" class="pswp" role="dialog" tabindex="-1">

        <div class="pswp__bg"></div>
        <div class="pswp__scroll-wrap">

            <div class="pswp__container">
                <div class="pswp__item"></div>
                <div class="pswp__item"></div>
                <div class="pswp__item"></div>
            </div>

            <div class="pswp__ui pswp__ui--hidden">
                <div class="pswp__top-bar">
                    <div class="pswp__counter"></div><button class="pswp__button pswp__button--close" title="Close (Esc)"></button> <button class="pswp__button pswp__button--share" title=
                    "Share"></button> <button class="pswp__button pswp__button--fs" title="Toggle fullscreen"></button> <button class="pswp__button pswp__button--zoom" title=
                    "Zoom in/out"></button>
                    <div class="pswp__preloader">
                        <div class="pswp__preloader__icn">
                            <div class="pswp__preloader__cut">
                                <div class="pswp__preloader__donut"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="pswp__share-modal pswp__share-modal--hidden pswp__single-tap">
                    <div class="pswp__share-tooltip"></div>
                </div><button class="pswp__button pswp__button--arrow--left" title="Previous (arrow left)"></button> <button class="pswp__button pswp__button--arrow--right" title=
                "Next (arrow right)"></button>
                <div class="pswp__caption">
                    <div class="pswp__caption__center"></div>
                </div>
            </div>

        </div>

    </div> <!-- end photoSwipe background -->


    <!-- preloader
    ================================================== -->
    <div id="preloader">
        <div id="loader">
            <div class="line-scale-pulse-out">
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
            </div>
        </div>
    </div>


    <!-- Java Script
    ================================================== -->
    <script src="js/jquery-3.2.1.min.js"></script>
    <script src="js/plugins.js"></script>
    <script src="js/main.js"></script>

</body>

</html>